@import "ui/variables";

.HeaderNav {
  display: flex;

  .HeaderNav-hamburger {
    display: block;
    font-size: 3rem;
  }

  .HeaderNav-items {
    display: none;
  }

  .Header-nav-item {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 6rem;
    text-align: center;
    color: $linkColor;
    font-size: 2.7rem;
    font-family: 'PxGroteskBold';
    transition: all 0.3s ease;

    &:hover {
      color: $linkColorActive;
      transition: all 0.3s ease;
      margin-bottom: -0.6rem;
      margin-right: -0.6rem;
      font-size: 2.9rem;
    }

    &.Header-nav-item--active {
      border-bottom: 0.1rem solid $linkColor;
      transition: border 0.5s ease-out;
      color: $linkColorActive;
    }

    @media #{$audioasyl-655} {
      width: auto;
      font-size: 2.7rem;
      padding: 1rem 4rem;
    }

    @media #{$audioasyl-810} {
      font-size: 2.7rem;
      padding: 1rem 7rem;
    }

    &.Header-nav--active {
      display: flex;
      flex-direction: column;
    }
  }

  &.HeaderNav--active {
    .HeaderNav-items {
      left: 0;
      right: 0;
      top: 8rem;
      display: flex;
      position: fixed;
      align-items: center;
      flex-direction: column;
      background: $background;
    }
  }

  @media #{$audioasyl-768} {
    .HeaderNav-hamburger {
      display: none;
    }

    .HeaderNav-items {
      display: flex;
      position: initial;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    &.HeaderNav--active {
      .HeaderNav-items {
        display: flex;
        position: initial;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
