@import "ui/variables";

.Header-dropdown {
  text-transform: uppercase;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
  text-align: center;
  color: $linkColor;
  font-size: 2.7rem;
  font-family: 'PxGroteskBold';
  transition: all 0.3s ease;

  &:hover {
    color: $black;
    margin-bottom: -0.6rem;
    margin-right: -0.6rem;
    transition: all 0.3s ease;
    font-size: 2.9rem;
    cursor: pointer;
  }
}
@media #{$audioasyl-768} {
  .Header-dropdown {
    padding: 1rem 3rem;
  }
}  

.HeaderDropdown {
  display: flex;
  align-items: center;

  &:hover {
    // TODO filters dropdown
    // .HeaderDropdown-content {
    //   display: block;
    // }
  }

  .HeaderDropdown-label {
    text-decoration: none;
    color: $linkColor;

    &.HeaderDropdown-label--filter-active {
      color: $checkBoxGreen !important;
    }
  }

  .HeaderDropdown-content {
    top: 6rem;
    display: none;
    min-width: 20rem;
    min-height: 10rem;
    position: absolute;
    background: $background;

    &.HeaderDropdown-content--opened {
      display: block;
    }
  }
}
