@import "ui/variables";

.Header {
  width: 100%;
  display: flex;
  min-height: 8rem;
  align-items: center;
  background: $background;
  justify-content: space-between;
  user-select: none;
}

.Header-fixed {
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  min-height: 8rem;
  align-items: center;
  justify-content: space-between;
  background: $background;

  .Header-left {
    flex: 0 0 17rem;
    margin-left: 3rem;
  }

  .Header-right {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    margin-right: 3rem;

    .Header-text {
      text-transform: uppercase;
      display: block;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1rem;
      text-align: center;
      color: $linkColor;
      font-size: 2.7rem;
      font-family: 'PxGroteskBold';
      transition: all 0.3s ease;

      &:hover {
        color: $black;
        margin-bottom: -0.6rem;
        transition: all 0.3s ease;
        font-size: 2.9rem;
        cursor: pointer;
      }
    }
    @media #{$audioasyl-768} {
      .Header-text {
        padding: 1rem 3rem;
      }
    }  
  }
}

.Login {
  display: flex;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0rem;
}
