@import "ui/variables";

.Header {
  // width: 100vw;
  display: flex;
  z-index: 99999;
  min-height: 8rem;
  align-items: center;
  background: $background;
  justify-content: space-between;
  user-select: none;
}

.Header-fixed {
  top: 0;
  width: 100vw;
  display: flex;
  z-index: 99999;
  position: fixed;
  min-height: 8rem;
  align-items: center;
  background: $background;
  justify-content: space-between;

  &.Header-fixed--scrolled {
    box-shadow: 0 0.5rem 3rem $black;
  }

  .Header-left {
    display: flex;
    align-items: center;
    padding-right: 13rem;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media #{$audioasyl-655} {
      flex-direction: row;
    }
  }
}

.Login {
  display: flex;
}
