@import "ui/variables";

.Search {

  form {
    position: relative;
  }

  input[type="text"] {
    padding: 1rem 2rem;
    padding-right: 3.5rem;
    font-size: 1.2rem;
    max-width: 80%;
    outline: none;
    border: none;
  }

  .Search-button {
    position: absolute;
    font-size: 1.6rem;
    right: 0.5rem;
    top: 0.7rem;
  }

  @media #{$audioasyl-810} {
    max-width: 100%;
    font-size: 2rem;

    .Search-button {
      font-size: 2rem;
      top: 0.5rem;

      span {
        top: -1.3rem;
        left: -3rem;
      }
    }
  }
}
