@import "ui/variables";

.grid-sizer {
  width: 50%;
  height: 23rem;

  @media #{$audioasyl-min-width} {
    width: 50%;
    height: 50vw;
  }

  @media #{$audioasyl-768} {
    width: 33.333%;
    height: 33.333vw;
  }

  @media #{$audioasyl-1024} {
    width: 25%;
    height: 25vw;
  }

  @media #{$audioasyl-1920} {
    width: 20%;
    height: 20vw;
  }
}

.AudioTile {
  width: 50%;
  height: 23rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: background-color 0.2s ease-out;
  box-shadow: 0 0 0 0.5rem $background inset;

  @media #{$audioasyl-min-width} {
    width: 50%;
    height: 50vw;
  }

  @media #{$audioasyl-768} {
    width: 33.333%;
    height: 33.333vw;
  }

  @media #{$audioasyl-1024} {
    width: 25%;
    height: 25vw;
  }

  @media #{$audioasyl-1920} {
    width: 20%;
    height: 20vw;
  }

  &.AudioTile-big {
    @media #{$audioasyl-768} {
      width: 66.666%;
      height: 66.666vw;
    }

    @media #{$audioasyl-1024} {
      width: 50%;
      height: 50vw;
    }

    @media #{$audioasyl-1920} {
      width: 40%;
      height: 40vw;
    }

    .PlayButton {
      font-size: 12rem;
    }
  }

  .AudioTile-cover {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition-duration: 2s;
  }

  &:hover {
    background-color: #949494 !important;
    transition: background-color 0.2s ease-out 0.2s;

    .AudioTile-cover {
      transition-duration: 2s;
      transform: scale(1.15);
    }

    .PlayButton {
      display: block;
    }
  }

  .AudioTile-live-now {
    text-transform: uppercase;
    transform: rotate(45deg);
    padding: 1rem 10rem;
    background: $black;
    position: absolute;
    font-size: 1.4rem;
    color: $white;
    right: -7rem;
    z-index: 100;
    top: 2rem;
  }

  .AudioTile-info {
    position: absolute;
    font-size: 1.1rem;
    bottom: 0.5rem;
    color: $white;
    right: 0.5rem;
    left: 0.5rem;

    .AudioTile-info-bold-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .AudioTile-info-bold {
        text-transform: uppercase;
        padding: 1rem 2rem;
        background: $black;
        font-size: 1.4rem;
      }
    }

    @media #{$audioasyl-min-width} {
      font-size: 1.4rem;

      .AudioTile-info-bold-wrapper {
        .AudioTile-info-bold {
          font-size: 1.8rem;
        }
      }
    }
  }
}
