@import "ui/variables";

.catergory-container {
    padding: 2rem 0 2rem 9.4rem;
    background: $white;
    color: $black;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-left: 9.4rem;
    font-size: 7rem;
    text-transform: uppercase;

    &:hover {
        color: $red;
        transition: all 0.2s ease;
        cursor: pointer;
      }
}