@import "ui/variables";

.VolumeBar {
  width: 10rem;
  height: 1rem;
  display: flex;
  padding: 1rem 0;
  font-size: 1.4rem;
  align-items: center;

  .VolumeBar-bar-wrapper {
    padding: 0.5rem 0 1rem 0;
    cursor: pointer;
  }

  span {
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem 0 1rem 0;
  }

  .VolumeBar-bar {
    background: $playerProgressBarBg;
    position: relative;
    height: 0.3rem;
    width: 10rem;

    .VolumeBar-bar--fill {
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background: $playerProgressBarBgFill;
    }
  }
}
