@import "ui/variables";

.TileCarousel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    .TileCarousel-button {
      transition: background 0.5s ease;
      position: absolute;
      font-size: 3rem;
      height: 100vh;
      color: white;
      width: 5rem;
      z-index: 2;
      top: 0;

      &:hover {
        transition: background 0.5s ease;
        background: rgba(0, 0, 0, 0.5);
      }

      span {
        z-index: 3;
      }

      &.TileCarousel-left {
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.TileCarousel-right {
        right: 0;
      }
    }
}
