@import "ui/variables";

.Category-about {
  margin-left: 3rem;
  background: $white;
  color: $black;
  font-family: 'PxGroteskBold';
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 3.5rem;

  &:hover {
    text-decoration: underline;
    transition: all 0.3s ease !important;
  }
}  

.Category-about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 0;
  background-color: $white;

  .Category-about-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: 'break-word';
    line-height: 2.3rem;
  }
  @media #{$audioasyl-768} {
    .Category-about-inner {
      width: 50%;
    }
  } 
  @media #{$audioasyl-1024} {
    .Category-about-inner {
      width: 25%;
    }
  }
}

.Category-about-text {
  background: $white;
  color: $black;
  font-size: 2.5rem !important;
  line-height: 2.3rem;
  text-transform: initial;
  margin-left: 3rem;
}

.Category-about-text-containter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3rem;
}
@media #{$audioasyl-1024} {
  .Category-about-text-containter {
    width: 50%;
  }
} 


.Category-about-impressum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .Category-about-impressum-text {
    background: $white;
    color: $black;
    font-size: 1.5rem !important;
    line-height: 1.5rem;
    text-transform: initial;
  }
}
@media #{$audioasyl-1024} {
  .Category-about-impressum {
    width: 50%;
  }
} 

.Contact-title {
  color: $black !important;
  font-size: 2.5rem !important;
  line-height: 2.3rem;
  text-transform: initial;
  margin: 0rem;
  padding-bottom: 2.2rem;
}

