@import "ui/variables";

.Category-about {
  background: $white;
  color: $black;
  font-family: 'PxGroteskBold';
  font-size: 3rem !important;

  &:hover {
    background: $black !important;
    color: $white !important;
    transition: all 0.3s ease !important;
  }
}  

.Category-about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 0;
  background-color: $white;

  .Category-about-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: 'break-word';
    line-height: 2.7rem;
  }
  @media #{$audioasyl-768} {
    .Category-about-inner {
      width: 50%;
    }
  } 
  @media #{$audioasyl-1024} {
    .Category-about-inner {
      width: 25%;
    }
  }
}

.Category-about-text {
  font-size: 4.8rem;
}

.Category-about-footer {
  height: 9rem;
}
