@import "ui/variables";

  .Category-artist-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;

    .Category-artist-inner {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: 'break-word';
    }
  }

@keyframes scroll {
  from {
    transform: translate(110%,0)
  }

  to {
    transform: translate(-110%,0)
  }
}

@keyframes starting {
  from {
    transform: translate(0,0)
  }

  to {
    transform: translate(-110%,0)
  }
}

.resultMarquee {
    animation: starting 4s linear 0s 1, scroll 8s linear 4s infinite;
    position: relative;
    width: 100%;
}