@import "ui/variables";

.Category {
    position: relative;
    display: block;
  
    .Category-anchor {
      position: absolute;
      top: - 7.9rem;
    }

    .Category-section {
      min-width: 50rem;
      z-index: 50;
      text-transform: uppercase;
      font-family: 'PxGroteskBold';
      font-size: 6.7rem;
      background: $white;
      padding: 0;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      max-height: 6.5rem;
  
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      position: -ms-sticky;
      position: sticky;
      top: 8.5rem;

      @media #{$audioasyl-943} {
        top: 4.4rem;
      } 
  
      .Category-section-left {
        flex: 0 0 17rem;
        visibility: hidden;
        margin-left: 3rem;
      }
    
      .Category-section-right {
        flex: 0 0 71rem;
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        margin-right: 3rem;
  
        .Category-section-title {
          text-transform: uppercase;
          display: block;
          flex-direction: column;
          justify-content: center;
          padding: 1.5rem 3rem;
          text-align: center;
          color: $linkColor;
          font-size: 2.7rem;
          font-family: 'PxGroteskBold';
          transition: all 0.3s ease;
  
          &:hover {
            color: $black;
            margin-bottom: -0.6rem;
            margin-right: -0.6rem;
            transition: all 0.3s ease;
            font-size: 2.9rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .Category-content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 0;
    background-color: $black;

    .Category-content-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: 'break-word';
      line-height: 6rem;
    }
    @media #{$audioasyl-1024} {
      .Category-content-inner {
        width: 50%;
      }
    } 
  }

.Catergory-common {
  min-width: 61.5rem;
  padding: 1rem 1rem 2rem 3rem;
  background: $black;
  color: $white;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 6.7rem;
  text-transform: uppercase;
  overflow: hidden;
  word-wrap: break-word;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &:hover {
      color: $black;
      background: $white;
      transition: all 0.3s ease;
      cursor: pointer;
    }
}

.Sticky {
  display: inline-block;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0rem;
}

.Invisibility {
  visibility: hidden;
}

.Underline {
  text-decoration: underline;
}

.Normalcase {
  text-transform: initial;
}

.White {
  background: white;
}

.Link {
  text-decoration: underline;
  cursor: pointer;
}