@import "ui/variables";

.Category {
    position: relative;
    display: block;
  
    .Category-anchor {
      position: absolute;
      top: - 7.9rem;
    }
  
    .Category-tiles {
      margin: 1rem -0.5rem 0.5rem -0.5rem;
    }
  }
  
  .Category-section {
    z-index: 2;
    overflow: hidden;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 8rem;
    text-transform: uppercase;
    font-family: RobotoMedium;
    font-size: 6.7rem;
    background: $white;
    padding: 2rem 0rem 2rem 9.4rem;
    display: block;
  
    .Category-title-container {
      flex-direction: column;
      justify-content: center;
      display: flex;
      float: left;
  
      .Category-section-title {
        min-width: 30rem;
        color: $black;
        display: block;
        text-align: left;
        text-decoration: none;
        transition: all 0.3s ease;
        padding-left: 0rem;
        white-space: nowrap;
        
        &:hover {
          color: $red;
          transition: all 0.2s ease;
        }
      }
    }

    .Category-sort-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: block;
      width: 100%;
      flex: 1;

      .Category-section-title {
        color: $black;
        display: block;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease;
        padding-left: 0rem;
        white-space: nowrap;
        
        &:hover {
          color: $red;
          transition: all 0.2s ease;
        }
      }
    }  
  }
  
.catergory-container {
  padding: 2rem 0 2rem 9.4rem;
  background: $black;
  color: $white;
  display: block;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-left: 9.4rem;
  font-size: 7rem;
  text-transform: uppercase;
  overflow: hidden;

  &:hover {
      color: $black;
      background: $white;
      transition: all 0.5s ease;
      cursor: pointer;
    }
}