@import "ui/variables";

.Category-news {
    background: $black;
    color: $white;
    font-family: RobotoMedium;
    font-size: 6.7rem;

  .News-author {
    font-size: 3.0rem;
  }
  
  .News-style {
    font-size: 2.0rem;
  }

  .News-red {
    color: $red;
  }
}

.Category-news:hover {
  background: $white;
  color: $black;
  transition: all 0.5s ease;
  cursor: default;
}