@import "ui/variables";

.Category-news{
  margin: 3rem;
  background: $white;
  color: $black;
  font-family: 'PxGroteskBold';
  border: 15px solid #000000;
  
  &:hover {
    background: $black;
    color: $white;
  }
}

