@import "ui/variables";

.Category-show {
  background: $black;
  color: $white;

  &:hover {
    background: $white !important;
    color: $black !important;
    transition: all 0.3s ease !important;
  }
}
