@import "ui/variables";

.Category-type {
  background: $black;
  color: $white;
  font-family: 'PxGroteskBold';

  &:hover {
    background: $white !important;
    color: $black !important;
    transition: all 0.3s ease !important;
  }
}