@import "ui/variables";
@import "ui/fonts";

html {
	 font-size: 62.5%;

	 body {
		 margin: 0;
		 padding: 0;
		 background: $background;
		 font-family: 'RobotoRegular', 'Arial';

		 button {
			 background: none;
			 cursor: pointer;
			 outline: none;
			 border: none;
		 }
	 }
}
