@import "ui/variables";

.MainAnimation {
    font-size: 1200px;
    font-family: 'PxGroteskBold';
    top: -230px;
    position: relative;
    height: 1000px;
    cursor: pointer;
    user-select: none;
}