$playerProgressBarBgFill: #91948c;
$playerProgressBarBg: #616467;
$checkBoxGreen: #8daa51;
$linkColorActive: #222;
$botleGreen: #175763;
$background: #ffffff;
$blackGreen: #1e3034;
$linkColor: #000000;
$lightBlue: #4292a0;
$formColor: #a6a6a6;
$playerBg: #222326;
$formGrey: #cbcbcb;
$facebook: #3b5998;
$twitter: #1da1f2;
$white: #FFFFFF;
$black: #000000;
$green: #18a455;
$red: #eb212e;

$min-width: 300px;
$audioasyl-min-width: "screen and (min-width: min-width)";
$audioasyl-460: "screen and (min-width: 460px)";
$audioasyl-655: "screen and (min-width: 655px)";
$audioasyl-768: "screen and (min-width: 768px)";
$audioasyl-810: "screen and (min-width: 810px)";
$audioasyl-943: "screen and (min-width: 943px)";
$audioasyl-1024: "screen and (min-width: 1024px)";
$audioasyl-1920: "screen and (min-width: 1920px)";
